Bitwarden
EOS-greeter.conf
GIMP
Popcorn-Time
QtProject.conf
Thunar
Unknown Organization
aniwrapper
ardour8
autorandr
autostart
chromium
configstore
dconf
discord
dunst
example.picom.conf
fcitx5
fish
flameshot
gh
github-copilot
go
gtk-2.0
gtk-3.0
gtk-4.0
htop
ibus
kdeconnect
ktorrent_infowidgetrc
ktorrentrc
ktorrentrc.lock
mpd
mpv
nano
ncmpcpp
ncspot
niri
nushell
nvimbak
nwg-look
obs-studio
pavucontrol.ini
picom.conf
pulse
qBittorrent
qtile
ranger
reflector-simple-free-params.txt
rofi
spotify
unity3d
user-dirs.dirs
user-dirs.locale
vlc
welcome.conf
xarchiver
xdg-desktop-portal
xed
xfce4
xsettingsd
zoom.conf
zoomus.conf
